aside {
  width: 100%;
  overflow-y: scroll;
  padding-top: 35px;
  position: absolute;
  top: 90px;
  color: #213f7d;
  z-index: -1;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out all;

  &.show {
    z-index: 4;
    transform: translateX(0%);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      @include flexC;
      cursor: pointer;
      margin: 10px 0;
      padding: 1rem;
      padding-left: 30px;
      width: 50%;

      .icon {
        height: 20px;
        width: 25px;
      }

      span {
        margin-left: 10px;
        font-size: 16px;
      }
    }
    .org {
      margin-bottom: 20px;
    }
  }

  h4 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-top: 40px;
    color: #545f7d;
    padding-left: 30px;
  }
}

@include for-phone-only {
}

@include for-tablet-potrait-up {
}

@include for-tablet-landscape-up {
}

@include for-desktop-up {
  aside {
    width: 283px;
    height: 150vh;
    position: absolute;
    display: block;
    transform: translateX(0%);
    z-index: 1;

    ul {
      display: block;
      li {
        width: 100%;
      }
    }
  }
}

@include for-big-desktop-up {
}
